<article>
    <section>
        <h2 class="stats-heading">2025 stats for {{player?.name}}</h2>
    </section>
    <table>
        <tr>
            <th>Player Name</th>
            <th>Points Played</th>
            <th>Plus/Minus</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Blocks</th>
            <th>Throwing Yards</th>
            <th>Receiving Yards</th>
        </tr>
        <tr>
            <td>{{player?.name}}</td>
            <td>{{player?.pointsPlayed}}</td>
            <td>{{player?.plusMinus}}</td>
            <td>{{player?.goals}}</td>
            <td>{{player?.assists}}</td>
            <td>{{player?.blocks}}</td>
            <td>{{player?.throwingYards}}</td>
            <td>{{player?.receivingYards}}</td>
        </tr>
    </table>
</article>
